body {
    font-family: Arial;
}

.dateinfo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    font-weight: bolder;
    color: #505050;
}

.info {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    gap: 35px;
}

.frame{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5% 5%;
    box-shadow: 10px 10px 50px 0 gray;
    background-color: lightgray;
    color: #505050;
    text-align: center;
    font-size: 12px;
}