.html,body {
    padding: 0px;
    margin: 0px;
    background-color: #202124;
    font-family: Arial;
    color: #ffffff;
}

.top {
    width: 100%;
}

#left {
    display: inline-flex;  
    gap: 20px; 
}

#right {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}