/*body {
    overflow-x: hidden;
    color: #50565a;
    font-family: 'Noto Sans KR', sans-serif;
}

body,html {
    padding: 0;
    margin: 0;
}

.topbar {
    width: 100%;
    height: 78px;
    background-color: white;
    border: 1px solid lightgray;
    display: inline-flex;
    align-items: center;
    gap: 70px;
}

#logo {
    width: 262px;
    height: max-content;
}

#over {
    cursor: pointer;
}

.midbar {
    position: relative;
}

#Gwang-Go {
    display: flex;
    justify-content: center;
}

#Judge {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 520px;
    font-weight: 300;
    font-size: 25px;
}

#Info {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 300;
    top: 597px;
}

#Judge::after {
    content: "\A";
    display: block;
    width: 67px;
    height: 0.1px;
    margin-left: 50%;
    margin-top: 6.5px;
    transform: translate(-50.3%, 0%);
    background-color: black;
    border: 1px solid black;
}

.count {
    position: relative;
    width: 100%;
    height: 230px;
    left: -10px;
    top: 750px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
}

.countbox {
    position: relative;
    width: 260px;
    height: 115px;
    top: 42px;
    font-family: Arial;
    left: -66px;
    border: 1px solid #555555;
    margin: 15px;
} .countbox > h1 {
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translate(-50%, 0%);
    font-size: 40px;
    color: white;
    font-weight: 400;
} .countbox > h1::after {
    display: block;
    position: absolute;
    text-align: center;
    color: #b9b9b9;
    font-size: 15px;
    font-weight: 600;
    top: 55px;
}

#all > h1::after {
    content: "\A전체 문제";
    width: 100px;
} #checkable > h1::after {
    content: "\A채점 가능한 문제";
    left: -3px;
    width: 115px;
} #solved > h1::after {
    content: "\A풀린 문제";
    left: -6px;
    width: 120px;
} #languages > h1::after {
    content: "\A채점 가능한 언어 수";
    left: -48px;
    width: 140px;
}*/

